@model IEnumerable<Player>

<h2>Players</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    @foreach (var player in Model)
    {
        <tr>
            <td><a href=/Player/ViewPlayer/@player.id>@player.id</a></td>
            <td>@player.firstName</td>
            <td>@player.lastName</td>
        </tr>

    }
</table>

<div style="display: block">
    <a href="/Player/InsertPlayer/">Create a New Player</a>
</div>


